<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
          http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

  <servlet>
    <!--servlet的内部名称-->
    <servlet-name>users</servlet-name>
    <!--servlet的类全名： 包名+简单类名 -->
    <servlet-class>com.xr.control.UsersLogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <!--servlet的映射内部名称，通过他可以找到上面的servlet的内部名称-->
    <servlet-name>users</servlet-name>
    <!--请求servlet的映射路径-->
    <url-pattern>/login</url-pattern>
  </servlet-mapping>

</web-app>

